* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/src/img/sky.jpg");
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

.select-region {
  margin: 20px 0 16px 10px;
}

.searchInputBox {
  margin: 6px 0 16px 10px;
}

.menu {
  display: inline-block;
  color: rgb(7, 7, 126);
}

.menu-select {
  background-color: white;
  color: blue;
}

.button-current-dialog {
  background-color: rgba(240, 248, 255, 0.8);
  color: black;
  width: 80%;
  height: 50%;
}

.current-weather-text {
  margin: 10% 10% 10% 10%;
}

.input-box {
  border-radius: 10px;
  height: 30px;
  width: 400px;
  font-size: 20px;
}
.app-main {
  display: flex;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.6);
  padding: 20px;
}

.app-main > * {
  margin-bottom: 20px;
}

.weather-body {
  color: #582233;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 70vh;
}

.location-details {
  font-weight: bold;
}

.weather-status {
  padding: 20px;
}

.temp {
  font-size: 50pt;
  font-weight: 700;
  margin: 20px 0;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}

.min-max,
.weather {
  font-size: 12pt;
  font-weight: 600;
}

.item-string {
  display: flex;
  justify-content: space-around;
  margin: 0 0 16px 10px;
}

.button-hour,
.button-current {
  color: black;
  background-color: burlywood;
  width: 140px;
  height: 30px;
}

.item-string-buttom {
  color: black;
  background-color: burlywood;
  width: 140px;
  height: 30px;
}

.weather-hour {
  background-color: bisque;
  color: rgb(204, 17, 17);
}
